results/cheese_search.csv filter=lfs diff=lfs merge=lfs -text
data/chemdiv/chemdiv_eos2gw4.csv filter=lfs diff=lfs merge=lfs -text
data/chemdiv/chemdiv_eos39co.csv filter=lfs diff=lfs merge=lfs -text
data/reference_library.txt filter=lfs diff=lfs merge=lfs -text
results/cheese_eos4wt0.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos24ur.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos39co.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos2gw4.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos7pw8.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos8fth.csv filter=lfs diff=lfs merge=lfs -text
results/cheese_eos8ioa.csv filter=lfs diff=lfs merge=lfs -text
data/Preplated-set-100K.sdf filter=lfs diff=lfs merge=lfs -text
results/cheese_drugbank_search.csv filter=lfs diff=lfs merge=lfs -text
results/internal_classifier_drugbank_cheese_search.csv filter=lfs diff=lfs merge=lfs -text
